/*
Theme Namr: Tech Blog
Theme URI:https://website.com/wp-tech
Author:Fion Mustafa
Author URI:https://website.com/wp-tech
Decription:This theme is for learning purpose only
Version:1.0
Requires PHP:8.0
License:GNU General Public License v2 or Later

*/

h1{
    color: red;
    
}
